.btn {
	@apply text-secondary text-32 outline-border-none cursor-pointer transition-transform;
	line-height: 39px;
	letter-spacing: 0.02em;
	text-decoration-line: underline;
	text-transform: uppercase;

	&:hover {
		@apply link-animation;
	}
}

@media (max-width: 1919px) {
	.btn {
		font-size: 28px;
		line-height: 34px;
	}
}
