@import 'reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import './media.scss';

* {
	font-family: 'Montserrat', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100vw;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

button {
	@apply border-none bg-transparent;
}

.container {
	width: 100%;
	max-width: 1332px;
	margin: 0 auto;
	padding: 0 10px;

	@include m-1920 {
		max-width: 1166px;
	}
}

.section {
	padding-bottom: 108px;

	@include m-1920 {
		padding-bottom: 96px;
	}
}

.admin-container {
	@apply mx-auto bg-gray-300 rounded-lg pb-5;
	width: 1000px;
	min-height: calc(100vh - 20px);
}

.description {
	@apply text-19 text-dark;
	line-height: 150%;
	letter-spacing: 0.02em;

	@include m-1920 {
		@apply text-17;
	}
}
